form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    margin-top: 10px;
}

table {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}