<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Them thanh phan</title>
</head>
<body>
    <form action="/" enctype="multipart/form-data" method="post">
        <input type="text" name="stt" placeholder="nhap stt" oninvalid="setCustomValidity('Khong duoc rong')" oninput="setCustomValidity('')" required>
        <input type="text" name="tenBaiBao" placeholder="nhap tenBaiBao"oninvalid="setCustomValidity('Khong duoc rong')" oninput="setCustomValidity('')" required>
        <input type="text" name="tenNhomTacGia" placeholder="nhap tenNhomTacGia"oninvalid="setCustomValidity('Khong duoc rong')" oninput="setCustomValidity('')" required>
        <input type="text" name="ISBN" placeholder="nhap ISBN"oninvalid="setCustomValidity('Khong duoc rong')" oninput="setCustomValidity('')" required>
        <input type="text" name="soTrang" placeholder="nhap soTrang"oninvalid="setCustomValidity('Khong duoc rong')" oninput="setCustomValidity('')" required>
        <input type="text" name="namXB" placeholder="nhap namXB"oninvalid="setCustomValidity('Khong duoc rong')" oninput="setCustomValidity('')" required>
        <input type="submit" value="Nhan de them">
    </form>
</body>
</html>